**Importing relavent libraries for project**

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**Load the csv file i.e dataset**

In [28]:
data = pd.read_csv('cropdata.csv')
data.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Maharashtra,KOLHAPUR,2005,Kharif,Arhar/Tur,3100,1100.0
1,Maharashtra,KOLHAPUR,2005,Kharif,Castor seed,200,100.0
2,Maharashtra,KOLHAPUR,2005,Kharif,Cotton(lint),100,100.0
3,Maharashtra,KOLHAPUR,2005,Kharif,Groundnut,64300,77900.0
4,Maharashtra,KOLHAPUR,2005,Kharif,Moong(Green Gram),2600,1200.0

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State_Name     583 non-null    object
 1   District_Name  583 non-null    object
 2   Crop_Year      583 non-null    int64
 3   Season         583 non-null    object
 4   Crop           583 non-null    object
 5   Area           583 non-null    int64
 6   Production     563 non-null    float64
dtypes: float64(1), int64(2), object(4)
memory usage: 32.0+ KB

**Data cleanning**

In [30]:
data.isnull().sum()

State_Name        0
District_Name     0
Crop_Year         0
Season            0
Crop              0
Area              0
Production       20
dtype: int64

In [31]:
data['Production'].isnull().sum()

20

In [32]:
data['Production']=data['Production'].fillna(data['Production'].median())

In [33]:
data['Production'].isnull().sum()

0

In [37]:
data_season=data['Season']=='Kharif'
crop=data['Crop']

In [41]:
year = data['Crop_Year'].unique()
year

array([2005, 2010, 2012, 2013, 2014], dtype=int64)

In [42]:
season = data['Season'].unique()
season

array(['Kharif     ', 'Rabi       ', 'Summer     ', 'Whole Year '],
      dtype=object)